/* conteiner section main */
.conteiner-main2{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
main::before{
  content: "";
  height: 500px;
  width: 100%;
  max-width: 900px;
  margin: auto;
  top: 3;
  background-color: var(--character-bottom-image-color);
  -webkit-mask: var(--character-bottom-image-src) bottom / 100%  no-repeat;
  position: relative;
  transform: rotateZ(-180deg) scaleX(-1);
  
}


.conteiner-main p {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--highlight-color);
}
.conteiner-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
  align-items: center;
  gap: 80px;
}
.img-section-1 img{
  margin: auto;
}

/* conteiner-vol-4 */
.video{
  position: relative;
}
.video iframe{
  border:  var(--primary-color) solid 2px;
  box-shadow: -30px 25px var(--primary-color);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-left: 30px;

}
.conteiner-vol-4{
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.conteudo-section-2 h1{ 
  margin-bottom: 24px;
  font-family: var(--featured-font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 52px;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: var(--primary-color);
}
.conteudo-section-2{
  align-self: center;
}
.conteudo-section-2 p{
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: var(--highlight-color);
}
/* conteiner-galeria */


.conteudo-section-galeria ul {
 overflow-x: auto;
  display: flex;
  gap: 60px;
  padding: 30px;

}

.galeria-background{
  position: relative;
}
.galeria-background::before{
  content: "";
  position: absolute;
  right: -125px;
  width: max-content;
  height: max-content;
  background-image: url("../images/backgrounds/lamps.png");
  background-repeat: no-repeat;
  background-position: center right;
}
.galeria-background .conteiner{
  align-items: flex-start;
}
.galeria-background{
  max-width: 100%;
}
.conteudo-section-galeria li img{ 
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}


.conteudo-section-galeria img{
  border: 4px solid var(--primary-color);
  padding: 10px;
  background-color: var(--highlight-color);
  outline: 20px solid var(--highlight-color);
}
.conteudo-section-galeria li{
 width: 250px;
 height: 250px;
 min-width: 250px;

}
.conteudo-section-galeria{
  padding-bottom: 120px;
}
.conteiner-forms{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}
.item-formulario input{
  background-color: black;
  padding: 10px;
}
.item-formulario label{
  margin-bottom: 6px;
  margin-top: 10px;
  

}

.item-formulario textarea{
  background-color: black;

}
.formulario{
 padding: 24px;
 background-color: var(--primary-color);
  box-shadow: 30px 25px var(--highlight-color);
}
.conteudo-formulario{
  display: flex;
  flex-direction: column;
 align-items: center;
 padding-bottom: 60px;
}
.conteudo-formulario p{
  max-width: 700px;
  text-align: center;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--highlight-color);
}
main{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--page-background) no-repeat, url("../images/backgrounds/florest.png") no-repeat;
  z-index: -1;
  background-size: cover;
}



@media (max-width: 800px){
  .conteiner-main{
    grid-template-columns: 1fr;
  }
  .conteiner-main h1{
    justify-content: center;
  }
  .conteiner-main p{
    max-width: 30ch;
    text-align: center;
    justify-content: center;
  }
  .conteiner-vol-4{
    grid-template-columns: 1fr;
    gap: 60px;
    box-sizing: border-box;
  }
  .conteudo-section-2 h1{
    text-align: left;
  }
  .conteudo-section-2 p{
    text-align: left;
    max-width: 30ch;
  }
  .conteiner-vol-4{
    grid-template-columns: 1fr;
  }
  .video{
    height: 300px;
   
  }
  .conteudo-section-2{
    padding: 10px 40px 10px 40px;
  }
  .conteiner-forms{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px){
  .video{
    height: 200px;
    width: 300px;
  }
}

.dark-theme img ,.dark-theme header p{
  transform: rotateZ(180deg) scaleX(-1);
  
}

